<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (district(); as districtRef) {
      <div>
        <h2 data-cy="districtDetailsHeading"><span jhiTranslate="smartDryerApp.district.detail.title">District</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ districtRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.district.code">Code</span></dt>
          <dd>
            <span>{{ districtRef.code }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.district.name">Name</span></dt>
          <dd>
            <span>{{ districtRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.district.province">Province</span></dt>
          <dd>
            @if (district()!.province) {
              <div>
                <a [routerLink]="['/province', district()!.province?.id, 'view']">{{ districtRef.province?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/district', districtRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
