<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (equipment(); as equipmentRef) {
      <div>
        <h2 data-cy="equipmentDetailsHeading"><span jhiTranslate="smartDryerApp.equipment.detail.title">Equipment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ equipmentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.equipment.equipmentCode">Equipment Code</span></dt>
          <dd>
            <span>{{ equipmentRef.equipmentCode }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.equipment.description">Description</span></dt>
          <dd>
            <span>{{ equipmentRef.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/equipment', equipmentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
