<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (sourceOrder(); as sourceOrderRef) {
      <div>
        <h2 data-cy="sourceOrderDetailsHeading"><span jhiTranslate="smartDryerApp.sourceOrder.detail.title">Source Order</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ sourceOrderRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.sourceOrder.name">Name</span></dt>
          <dd>
            <span>{{ sourceOrderRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.sourceOrder.description">Description</span></dt>
          <dd>
            <span>{{ sourceOrderRef.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/source-order', sourceOrderRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
