<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-history-order-heading"
        data-cy="HistoryOrderCreateUpdateHeading"
        jhiTranslate="smartDryerApp.historyOrder.home.createOrEditLabel"
      >
        Create or edit a History Order
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="smartDryerApp.historyOrder.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let modifiedByRef = editForm.get('modifiedBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_modifiedBy" jhiTranslate="smartDryerApp.historyOrder.modifiedBy">Modified By</label>
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
          @if (modifiedByRef.invalid && (modifiedByRef.dirty || modifiedByRef.touched)) {
            <div>
              @if (editForm.get('modifiedBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_statusNew" jhiTranslate="smartDryerApp.historyOrder.statusNew">Status New</label>
          <select class="form-control" name="statusNew" formControlName="statusNew" id="field_statusNew" data-cy="statusNew">
            <option [ngValue]="null">{{ 'smartDryerApp.OrderStatus.null' | translate }}</option>
            @for (orderStatus of orderStatusValues; track $index) {
              <option [value]="orderStatus">{{ 'smartDryerApp.OrderStatus.' + orderStatus | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_statusOld" jhiTranslate="smartDryerApp.historyOrder.statusOld">Status Old</label>
          <select class="form-control" name="statusOld" formControlName="statusOld" id="field_statusOld" data-cy="statusOld">
            <option [ngValue]="null">{{ 'smartDryerApp.OrderStatus.null' | translate }}</option>
            @for (orderStatus of orderStatusValues; track $index) {
              <option [value]="orderStatus">{{ 'smartDryerApp.OrderStatus.' + orderStatus | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modifiedDate" jhiTranslate="smartDryerApp.historyOrder.modifiedDate">Modified Date</label>
          <div class="input-group">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="text"
              class="form-control"
              name="modifiedDate"
              ngbDatepicker
              #modifiedDateDp="ngbDatepicker"
              formControlName="modifiedDate"
            />
            <button type="button" class="btn btn-secondary" (click)="modifiedDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_order" jhiTranslate="smartDryerApp.historyOrder.order">Order</label>
          <select class="form-control" id="field_order" data-cy="order" name="order" formControlName="order" [compareWith]="compareOrder">
            <option [ngValue]="null"></option>
            @for (orderOption of ordersSharedCollection; track $index) {
              <option [ngValue]="orderOption">{{ orderOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
