<form name="viewForm">
  <div class="modal-header">
    <h4 class="modal-title" jhiTranslate="entity.action.view">View Order Details</h4>
  </div>

  <div class="modal-body">
    <dl class="row-md jh-entity-details">
      <dt><span jhiTranslate="global.field.id">ID</span></dt>
      <dd>{{ order?.id }}</dd>

      <dt><span jhiTranslate="smartDryerApp.order.code">Code</span></dt>
      <dd>{{ order?.code }}</dd>

      <dt><span jhiTranslate="smartDryerApp.order.createBy">Create By</span></dt>
      <dd>{{ order?.createBy }}</dd>

      <dt><span jhiTranslate="smartDryerApp.order.createDate">Create Date</span></dt>
      <dd>{{ order?.createDate | formatMediumDate }}</dd>

      <dt><span jhiTranslate="smartDryerApp.order.finishDate">Finish Date</span></dt>
      <dd>{{ order?.finishDate | formatMediumDate }}</dd>

      <dt><span jhiTranslate="smartDryerApp.order.status">Status</span></dt>
      <dd>
        <span jhiTranslate="smartDryerApp.OrderStatus.{{ order?.status }}">
          {{
            { null: '', NEW: 'NEW', ASSIGNED: 'ASSIGNED', CANCEL: 'CANCEL', DELAY: 'DELAY', HOLD: 'HOLD', FINISH: 'FINISH' }[
              order?.status ?? 'null'
            ]
          }}
        </span>
      </dd>

      <dt><span jhiTranslate="smartDryerApp.order.amount">Amount</span></dt>
      <dd>{{ order?.amount }}</dd>

      <dt><span jhiTranslate="smartDryerApp.order.saleNote">Sale Note</span></dt>
      <dd>{{ order?.saleNote }}</dd>

      <dt><span jhiTranslate="smartDryerApp.order.techNote">Tech Note</span></dt>
      <dd>{{ order?.techNote }}</dd>

      <dt><span jhiTranslate="smartDryerApp.order.note">Note</span></dt>
      <dd>
        <textarea class="form-control" rows="4" readonly>{{ order?.note }}</textarea>
      </dd>
    </dl>
  </div>

  <div class="modal-footer d-flex justify-content-end">
    <button type="button" id="close_btn" class="btn btn-info" data-dismiss="modal" (click)="back()">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Cancel</span>
    </button>
  </div>
</form>
