<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-equipment-heading" data-cy="EquipmentCreateUpdateHeading" jhiTranslate="smartDryerApp.equipment.home.createOrEditLabel">
        Create or edit a Equipment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="smartDryerApp.equipment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let equipmentCodeRef = editForm.get('equipmentCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_equipmentCode" jhiTranslate="smartDryerApp.equipment.equipmentCode">Equipment Code</label>
          <input
            type="text"
            class="form-control"
            name="equipmentCode"
            id="field_equipmentCode"
            data-cy="equipmentCode"
            formControlName="equipmentCode"
          />
          @if (equipmentCodeRef.invalid && (equipmentCodeRef.dirty || equipmentCodeRef.touched)) {
            <div>
              @if (editForm.get('equipmentCode')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="smartDryerApp.equipment.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
