<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cusNote(); as cusNoteRef) {
      <div>
        <h2 data-cy="cusNoteDetailsHeading"><span jhiTranslate="smartDryerApp.cusNote.detail.title">Cus Note</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cusNoteRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.cusNote.createBy">Create By</span></dt>
          <dd>
            <span>{{ cusNoteRef.createBy }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.cusNote.content">Content</span></dt>
          <dd>
            <span>{{ cusNoteRef.content }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.cusNote.createDate">Create Date</span></dt>
          <dd>
            <span>{{ cusNoteRef.createDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="smartDryerApp.cusNote.customer">Customer</span></dt>
          <dd>
            @if (cusNote()!.customer) {
              <div>
                <a [routerLink]="['/customer', cusNote()!.customer?.id, 'view']">{{ cusNoteRef.customer?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/cus-note', cusNoteRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
